html {
    font-size: 10px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: $ff-one;
    font-size: 1.8rem;
    background: $primary-colour;
}

.main {
    display: grid;
    justify-content: center;
}

.tests{
    background-image: url(../img/smaller-petrol2.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.neo {
    background-color: #e0e0e0;
}

h1 { @extend %title-h1; }

.wrapper {
    margin: 0 auto;
    padding: 0 3rem;
    width: 100%;
}

p { text-shadow: 0 0 2px $black;}