.home{
    background-image: url(../../img/smaller-petrol2.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.neo {
    background-color: #e0e0e0;
}