.main__nav {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .octagon-contain { 
    margin-top: 0; 
    filter : drop-shadow( 13px 13px 15px #e1dede) drop-shadow(
                -13px -13px 20px #ffffff);;
  }
}

.cell__nav {
  height: 17rem;
  display: flex;
}

.nav__links {
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: $black;
  margin-left: -3rem;
  .octagon {
    width: 10rem;
    height: 10rem;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary-colour;
  }
}
.nav__links:nth-of-type(odd) {
  align-self: flex-end;
}