.main__nav {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  // for solution 1
  // .hex__container { 
  //   margin-top: 0; 
  //   filter : drop-shadow( 13px 13px 15px #e1dede) drop-shadow(-13px -13px 20px #ffffff);
  // }
}

.cell__nav {
  height: 14.4rem;
  display: flex;
}

.nav__links {
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 2px $secondary-colour;
  color: $black;
  // for solution 1

  margin-left: -2.5rem;
  // .hex {
  //   width: 10rem;
  //   height: 10rem;
  //   margin-top: 0;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   background: $primary-colour;
  // }
}
.nav__links:nth-of-type(odd) {
  align-self: flex-end;
}

.hex__bg {
  background: $primary-colour;
}