$white : #ffffff;
$black : #000000;

$primary-colour : #f2efef;
$pulseGreen : rgba(182,255,220,1);
$secondary-colour : #b6ffdc;

$ff-one:     'Syne', sans-serif;

$inset-shadow : inset 1px 3px 10px rgba(194,194,194, .8);